body {
	background-color:gray;
}

#buttonMenuSoc {
	 display:none;
	position:absolute;
	margin:1%;
	width:8%;
	height:5%;
	background-color:black;
	opacity:0.8;
	z-index:20;
}

#login{
	background-color:black;
	display:none;
}

#menuGeneral {
	float:left;
	position: absolute;
	display:none;
	margin:0.5%;
	width:20%;
	height:97%;
	background-color:white;
	z-index:20;
}

#avatar {
	width:98%;
	height:20%;
	margin:1%;
	background-image: url("../asset/avatar.jpg");
	background-size:100% 100%;
}

#divSoc {
	height:79%;
	margin:1%;
	width:98%;
	opacity:0.5;
	background-color:black;
}

#contentSoc {
	width:100%;
	max-height:90%;
	opacity:1;
	overflow-y:auto;
	background-color:blue;
}

#addSoc {
	width:100%;
	height:10%;
	opacity:1;
	background-image: url("../asset/plus.png");
	background-size:40%;
	background-repeat: no-repeat;
	background-position:center;
}

#groupe {
	display:none;
	background-color:blue;
	opacity:0.5;
}

#soc {
	display:none;
	background-color:green;
	opacity:0.5;
}

#menuSoc {
	position:absolute;
	display:none;
	width:8%;
	top:9%;
	margin:1%;
	height:85%;
	background-color:red;
}

#popPop {
	display:none;
	position:absolute;
	z-index:30;
	width:70%;
	height:80%;
	background-color:white;
	opacity:0.8;
	margin-left:15%;
	margin-top:10%;
}

/************************/
/*	Class de formatage	*/
/************************/

.fullScreen {
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
	z-index:0;
}



.buttonSoc {
	position:relative;
	height:24.8%;
	width:98%;
	margin:1%;
	z-index:10;
	background-color:white;
	opacity:0.5;
}